@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .container {
    @apply w-full mx-auto px-4 sm:px-6 lg:px-8 max-w-screen-2xl;
  }
}
